// fonts
$font-Roboto: "Roboto", sans-serif;
$font-RobotoCondensed: "Roboto Condensed", sans-serif;
$font-Mont: "Mont", sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-green: #0D9358;
$color-green-light: #0EB32E;
$color-green-dark: #162618;
// colors
